/* Fundo hero */
.commando-hero {
  position: relative;
  height: 100vh;
  background: url("imgs/alienearth-bg.avif") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  color: white;
  gap: 40px;
}

.commando-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.2));
  z-index: 1;
}

/* Conteúdo do lado esquerdo */
.commando-content {
  position: relative;
  z-index: 2;
  max-width: 40%;
}

.serie-label {
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #ccc;
}

.commando-title {
  font-size: 4rem;
  font-weight: bold;
  margin: 10px 0;
}

.commando-meta {
  display: flex;
  gap: 15px;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.commando-meta .age {
  background: #750101;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}

/* Botões */
.commando-buttons .btn {
  padding: 12px 24px;
  margin-right: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.commando-buttons .play {
  background: #d41f12;
  color: rgb(255, 255, 255);
}
.commando-buttons .play:hover {
  background: #ffffff;
  color: #d41f12;
}
.commando-buttons .list {
  background: #f8f8f8;
  color: #da362a;
}
.commando-buttons .list:hover {
  background: #da362a;
  color: #ffffff;
}

/* Episódios no lado direito */
.commando-episodes {
  position: relative;
  z-index: 2;
  width: 240px;
  max-height: 500px; /* altura máxima -> scroll depois de 3~4 episódios */
  overflow-y: auto;
  padding-right: 8px; /* espaço pro scroll */
  flex: 0 0 240px;

}

/* Card do episódio */
.episode-card {
  position: relative;
  height: 160px;
  flex: 0 0 220px;
  width: 220px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  background-color: #0f0f0f;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.episode-card:hover {
  transform: scale(1.03);
}

/* Overlay com título e tempo */
.episode-card .overlay {
  position: absolute;
  inset: auto 0 0 0;
  padding: 16px;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.episode-card h3 {
  margin: 0;
  font-size: 18px;
}

.episode-card .duration {
  font-size: 14px;
  opacity: 0.85;
}
/* Scrollbar customizada só na lista de episódios */
.commando-episodes::-webkit-scrollbar {
  width: 10px; /* largura da barra */
}

.commando-episodes::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.082); /* fundo do trilho */
  border-radius: 10px;
}

.commando-episodes::-webkit-scrollbar-thumb {
  background: #eb4135de; /* cor principal já usada nos botões */
  border-radius: 10px;
  border: 2px solid #383838; /* borda para dar contraste */
}

.commando-episodes::-webkit-scrollbar-thumb:hover {
  background: #d41f12; /* tom mais forte no hover */
}
